* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #121212;
  color: #ffffff;
}

.container {
  width: 90%;
  max-width: 900px;
  background: #1e1e1e;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  text-align: center;
}


h2 {
  margin-bottom: 15px;
  font-weight: bold;
  color: #00e676;
}


form {
  display: flex;
  flex-direction: column;     
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

/* Inputs */
input {
  padding: 12px;
  width: 100%;
  max-width: 350px;
  border-radius: 8px;
  border: 1px solid #444;
  background-color: #000;
  color: #fff;
  outline: none;
}

input:focus {
  border-color: #00e676;
}


button {
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background-color: #00c853;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #00e676;
  transform: scale(1.05);
}


table {
  width: 100%;
  border-collapse: collapse;
  background-color: #2a2a2a;
  margin-top: 15px;
}

th {
  background-color: #00c853;
  color: #000;
}

table,
th,
td {
  border: 1px solid #444;
}

th,
td {
  padding: 10px;
  text-align: center;
}

tr:hover {
  background-color: #3a3a3a;
}
