
body{
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}


.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

form {
   
  margin-bottom: 20px;
}

h2{
    font-weight: bold;
}
input {
   
  margin: 5px;
  padding: 8px;
  width: 200px;
  border-radius: 10px;
  background-color: black;
  color: aliceblue;
}

button {
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius:10px;
  background-color: green;
}

table {
    background-color: rgb(75, 72, 72);
    color: aliceblue;
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
}
